body {
  background-color: #0F5175;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #0F5175; }
  body .accent {
    color: #0F5175; }
  body main {
    display: block;
    margin: 0 auto; }
    body main .section {
      display: block;
      margin: 0;
      padding: 0;
      height: 100vh; }
    body main .splash {
      background: url(../img/print.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow: hidden;
      height: 100vh;
      color: #268FAF;
      text-align: center; }
      body main .splash .title {
        position: relative;
        top: 45%;
        transform: translateY(-45%); }
        body main .splash .title h1 {
          font-size: 7.5em;
          padding: 0;
          margin: 0; }
        body main .splash .title p {
          font-size: 1.5em; }
    body main .about {
      text-align: center;
      padding: 30px 20px;
      background-color: #D1DAD5;
      color: #0F5175; }
      body main .about .container {
        display: block;
        margin: 0 auto;
        max-width: 700px; }
        body main .about .container p {
          font-size: 1.15em;
          color: #268FAF; }
