@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);
body {
  background-color: #D1DAD5;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Nobile', sans-serif;
  box-sizing: border-box;
  color: #0F5175; }
  body .accent {
    color: #0F5175; }
  body main {
    display: block;
    margin: 0 auto; }
    body main .section {
      display: block;
      margin: 0;
      padding: 0;
      height: 100vh; }
    body main .splash {
      background: url(../img/print.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow: hidden;
      height: 100vh;
      color: #268FAF;
      text-align: center; }
      body main .splash .title {
        position: relative;
        top: 45%;
        transform: translateY(-45%); }
        body main .splash .title h1 {
          font-size: 7.5em;
          padding: 0;
          margin: 0; }
        body main .splash .title p {
          font-size: 1.5em; }
    body main .about {
      text-align: center;
      padding: 30px 20px;
      background-color: #D1DAD5;
      color: #0F5175; }
      body main .about .container {
        display: block;
        margin: 0 auto;
        max-width: 700px; }
        body main .about .container h1 {
          margin-top: 20%; }
        body main .about .container p {
          font-size: 1.15em;
          color: #268FAF;
          letter-spacing: 2px; }
    body main .start {
      background-color: #268FAF;
      border: none;
      padding: 15px 0 15px 0;
      color: #FFF;
      font-size: 1.25em;
      border-radius: 2px;
      /* margin-top: 35px; */
      display: block;
      margin: 0 auto;
      max-width: 200px;
      text-decoration: none;
      margin-top: 40px;
      clear: both; }
    body main .start:hover {
      cursor: pointer;
      background-color: #0F5175; }
    body main .start:focus {
      outline: none; }
    body main .list {
      background-color: #D1DAD5;
      text-align: center;
      color: #268FAF;
      padding-bottom: 100px; }
      body main .list .title {
        position: relative;
        top: 10%;
        transform: translateY(-10%);
        margin-bottom: 70px;
        padding-bottom: 30px; }
        body main .list .title h1 {
          margin: 0; }
      body main .list ul {
        list-style-type: none;
        margin: 9px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        color: #0F5175;
        width: 250px; }
        body main .list ul h3 {
          margin-top: 0;
          background-color: #EFC63F;
          padding: 10px; }
        body main .list ul li {
          font-size: 1.3em;
          font-weight: bold;
          text-align: left;
          color: #268FAF; }
          body main .list ul li p {
            font-weight: normal;
            font-size: .8em;
            margin-left: 10px; }
      body main .list .container {
        text-align: center;
        margin-bottom: 55px;
        display: block;
        margin: 0 auto;
        overflow: hidden;
        max-width: 1000px; }
