@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);

$darkColor: #0F5175;
$lightColor: #D1DAD5;
$midColor: #268FAF;
$brightColor: #BCD349;
$shineColor: #EFC63F;

body {
	background-color: $darkColor;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Nobile', sans-serif;
	box-sizing: border-box;
	color: $darkColor;
	.accent {
		color: $darkColor;
	}
	main {
		display: block;
		margin: 0 auto;
		.section {
			display: block;
			margin: 0;
			padding: 0;
			height: 100vh;
		}
		.splash {
		  background: url(../img/print.png) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  overflow: hidden;
		  height: 100vh;
		  color: $midColor;
		  text-align: center;
		  .title {
			  position: relative;
			  top: 45%;
			  transform: translateY(-45%);
		  	h1{
		  		font-size: 7.5em;
		  		padding: 0;
		  		margin: 0;
		  	}
		  	p {
		  		font-size: 1.5em;
		  	}
		  }
		}
		.about {
			text-align: center;
			padding: 30px 20px;
			background-color: $lightColor;
			color: $darkColor;
			.container {
				display: block;
				margin: 0 auto;
				max-width: 700px;
				h1 {
					margin-top: 20%;
				}
				p {
					font-size: 1.15em;
					color: $midColor;
					letter-spacing: 2px;
				}
				.start {
				  background-color: #268FAF;
				  border: none;
				  padding: 15px 0 15px 0;
				  color: #FFF;
				  font-size: 1.25em;
				  border-radius: 2px;
				  /* margin-top: 35px; */
				  display: block;
				  margin: 0 auto;
				  max-width: 200px;
				  text-decoration: none;
				  margin-top: 40px;
				}
			  .start:hover{
			  	cursor: pointer;
			  	background-color: $darkColor;
			  }
			  .start:focus{
			  	outline: none;
			  }
			}
		}
	}
}
