$darkColor: #0F5175;
$lightColor: #D1DAD5;
$midColor: #268FAF;
$brightColor: #BCD349;
$shineColor: #EFC63F;

body {
	background-color: $lightColor;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	color: $darkColor;
	main {
		display: block;
		margin: 0 auto;
		.splash {
		  background: url(../img/desk.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  overflow: hidden;
		  height: 100vh;
		  color: $brightColor;
		  text-align: center;
	  	h1{
	  		font-size: 5em;
  		  position: relative;
			  top: 35%;
			  transform: translateY(-35%);
	  	}
		}
	}
}
